<div class="row off-set-menu m-b-100px">
    <div class="form-group">
        <h4> RESET PASSWORD:</h4>
    </div>

   
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Email:</label>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control txt-width" ng-model="email" 
              name="email" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Phone Number</label>
            </div>
            <div class="col-sm-7">
                <input type="number" class="form-control txt-width" ng-model="phoneno" 
                name="phoneno" placeholder="Phone Number">
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="row text-center">
            <input type="button" class="btn btn-primary" value="Send Mail"><input type="button" class="btn btn-primary m-l-10px" value="Reset">
        </div>
    </div>
</div>
