<div class="row off-set-menu m-b-100px">
<form id="EventRegistration">
    <div class="form-group">
        <h4>HOST AN EVENT :</h4>
    </div>
     <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Class:</label>
            </div>
            <div class="col-sm-7">
               <select class="form-control ddl-width" ng-model="selClass" ng-change="getStudentsList()" name="class">
                    <option value="">Select Class</option>
                    <option ng-repeat="classObj in classList" value="{{classObj}}">{{classObj}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Event Date:</label>
            </div>
            <div class="col-sm-7">
                <feature-date fdate="eventdate" name="Date"> </feature-date>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Event Type:</label>
            </div>
            <div class="col-sm-7">
                <select class="form-control ddl-width" ng-model="eventType" name="type">
                    <option value="">Select Event</option>
                    <option ng-repeat="eveObj in eventsList" value="{{classObj}}">{{eveObj}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Event:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control txt-width" ng-model="eventName" 
                name="eventName" placeholder="Event">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Venue:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control txt-width" ng-model="venue" 
                name="venue" placeholder="Venue">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-5 text-right">
                <label>Description:</label>
            </div>
            <div class="col-sm-7">
                <textarea rows="4" cols="22" ng-model="description" class="form-control txt-width" name="description"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row text-center">
            <input type="button" class="btn btn-primary" ng-click="fnAddEvent()" value="Submit">
            <input type="button" class="btn btn-primary m-l-10px" value="Reset">
        </div>
    </div>
    </form>
</div>
