<div class="row off-set-menu m-b-100px">
    <div class="form-group">
        <h4>TEACHER REGISTRATION:</h4>
    </div>
    <form id="teacherRegistrationForm">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>First Name:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control txt-width" placeholder="First Name" name="firstName" ng-model="firstName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Last Name:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control txt-width" placeholder="Last Name" name="lastName" ng-model="lastName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label> Email:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control txt-width" placeholder="Email" name="Email" ng-model="emailId">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Password:</label>
                </div>
                <div class="col-sm-7">
                    <input type="password" class="form-control txt-width" placeholder="Password" name="Password" ng-model="pwd">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Confirm Password:</label>
                </div>
                <div class="col-sm-7">
                    <input type="password" class="form-control txt-width" placeholder="Confirm Password" name="cpwd" ng-model="cpwd">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Date of birth:</label>
                </div>
                <div class="col-sm-7">
                    <past-date past-date="dob" name="date"> </past-date>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Gender:</label>
                </div>
                <div class="col-sm-7">
                    <input type="radio" value="male" name="gender" ng-model="gender"><span class="m-l-10px">Male</span>
                    <input type="radio" name="gender" value="female" ng-model="gender"><span class="m-l-10px">FeMale</span>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-repeat="phoneNumObj in phoneNumList track by $index">
            <div class="m-l-27p col-sm-6 box-shadow-empPhone">
                <div class="row form-group border-bottom">
                    <h4 class="p-l-15px">Phone Number {{phoneNumObj}}:</h4>
                    <a class="plus-pos" href ng-click="addPhoneNumbers()"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="trash-pos" href ng-show="phoneNumObj!=1" ng-click="deletePhoneNumbers($index)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Type:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control ddl-width" name="type" ng-model="phoneType[phoneNumObj]">
                            <option value="">Select Type</option>
                            <option ng-repeat="obj in constants.Phone" value="{{obj.PhoneTypeID}}">{{obj.PhoneType}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Phone Number:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="Phone Number" name="phoneNumber" ng-model="phoneNumber[phoneNumObj]">
                    </div>
                </div>
                 <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Extention:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="Extention" name="extention" ng-model="extention[phoneNumObj]">
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-repeat="addObj in addList track by $index">
            <div class="m-l-27p col-sm-6 box-shadow-empAdd">
                <div class="row form-group border-bottom">
                    <h4 class="p-l-15px">Address {{addObj}}:</h4>
                    <a class="plus-pos" href ng-click="addAddress()"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="trash-pos" href ng-show="addObj!=1" ng-click="deleteAddress($index)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Type:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control ddl-width" name="type1" ng-model="addType[addObj]">
                            <option value="">Select Type</option>
                             <option ng-repeat="obj in constants.Address" value="{{obj.AddressTypeID}}">{{obj.AddressType}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Address Line1:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="Address1" name="Address" ng-model="addline1[addObj]">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Address Line2:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="Address2" name="Address1" ng-model="addline2[addObj]">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>City:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="City" name="City" ng-model="addCity[addObj]">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>State:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="State" name="State" ng-model="addState[addObj]">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Country:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control ddl-width" name="country" ng-model="addCountry[addObj]">
                            <option value="">Select Country</option>
                            <option ng-repeat="obj in constants.Country" value="{{obj.CountryID}}">{{obj.CountryName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 w-30-percent text-right">
                        <label>Postel Code:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control txt-width" placeholder="Postal Code" name="PostalCode" ng-model="addPostalCode[addObj]">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Security Question1:</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control ddl-width" ng-model="que1" name="question" ng-change="getStudentsList()">
                        <option value="">select question</option>
                        <option ng-repeat="obj in constants.Security" value="{{obj.SecurityQuestionID}}">{{obj.SecurityQuestion}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 text-right">
                <label>Answer:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control txt-width" placeholder="Answer" name="Answer" ng-model="ans1">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Security Question2:</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control ddl-width" ng-model="que2" name="question1" ng-change="getStudentsList()">
                        <option value="">select question</option>
                         <option ng-repeat="obj in constants.Security" value="{{obj.SecurityQuestionID}}">{{obj.SecurityQuestion}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 text-right">
                <label>Answer:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control txt-width" placeholder="Answer" name="Answer1" ng-model="ans2">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-5 text-right">
                    <label>Security Question3:</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control ddl-width" ng-model="que3" name="question2" ng-change="getStudentsList()">
                        <option value="">select question</option>
                        <option ng-repeat="obj in constants.Security" value="{{obj.SecurityQuestionID}}">{{obj.SecurityQuestion}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 text-right">
                <label>Answer:</label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control txt-width" placeholder="Answer" name="Answer3" ng-model="ans3">
            </div>
        </div>
    </form>
    <div class="form-group">
        <div class="row text-center">
            <input type="button" ng-click="fnRegisterEmployee()" class="btn btn-primary" value="Submit">
            <input type="button" class="btn btn-primary m-l-10px" value="Reset">
        </div>
    </div>
</div>
